<div class="app_sb_overlay"></div>
<div class="app_sidebar cs-scroll">
  <button class="btn btn-primary mt-1 mb-3" onclick="toNewPost()">
    <img class="img-left" src="/public/images/icons/plus-icon.svg" alt="Icon" />
    New post
  </button>
  <button class="btn btn-success mb-4">
    <img
      class="img-left"
      src="/public/images/icons/media-live.svg"
      alt="Icon"
    />
    Go live
  </button>

  <div class="link">
    <a href="/app/home" class="<%= (path == '/home') ? 'active' : '' %>">
      <img src="/public/images/icons/sidebar/home.svg" alt="Home icon" />
      Home
    </a>
  </div>

  <div class="link">
    <a href="/app/home">
      <img src="/public/images/icons/sidebar/messages.svg" alt="Message icon" />
      Messages
    </a>
  </div>

  <div class="link">
    <a href="/app/home">
      <img src="/public/images/icons/sidebar/wallet.svg" alt="Wallet icon" />
      Wallet
    </a>
  </div>

  <div class="link">
    <a
      href="<%= (path == '/my-contests') ? 'javascript:void(0)' : '/app/my-contests' %>"
      class="<%= (path == '/my-contests') ? 'active' : '' %>"
    >
      <img
        src="/public/images/icons/sidebar/my-contest.svg"
        alt="Contests icon"
      />
      My Contests
    </a>
  </div>

  <div class="link">
    <a href="/app/home">
      <img
        src="/public/images/icons/sidebar/concert-icon.svg"
        alt="Concert icon"
      />
      My Concerts
    </a>
  </div>

  <div class="link">
    <a href="/app/home">
      <img
        src="/public/images/icons/sidebar/bookmark.svg"
        alt="Favorites icon"
      />
      Favorites
    </a>
  </div>

  <div class="link">
    <a href="/app/home">
      <img src="/public/images/icons/sidebar/albums.svg" alt="Albums icon" />
      Albums
    </a>
  </div>

  <div class="link">
    <a
      href="<%= (path == '/reports') ? 'javascript:void(0)' : '/app/reports' %>"
      class="<%= (path == '/reports') ? 'active' : '' %>"
    >
      <img src="/public/images/icons/sidebar/reports.svg" alt="Reports icon" />
      Reports
    </a>
  </div>

  <div class="title">Vibrer & Company</div>

  <div class="link">
    <a href="/privacy" target="_blank">
      <img src="/public/images/icons/sidebar/privacy.svg" alt="Privacy icon" />
      Privacy policy
    </a>
  </div>

  <div class="link">
    <a href="/cookies" target="_blank">
      <img src="/public/images/icons/sidebar/cookies.svg" alt="Privacy icon" />
      Cookies policy
    </a>
  </div>

  <div class="link">
    <a href="/terms" target="_blank">
      <img src="/public/images/icons/sidebar/terms.svg" alt="Terms icon" />
      Terms & conditions
    </a>
  </div>

  <div class="link">
    <a href="/app/home">
      <img src="/public/images/icons/sidebar/company.svg" alt="Company icon" />
      About us
    </a>
  </div>

  <div class="link">
    <a href="/app/home">
      <img src="/public/images/icons/sidebar/support.svg" alt="Support icon" />
      Help & Support
    </a>
  </div>
</div>
