<div class="_modal modal-dark" id="contest1tandc">
  <div class="dialog">
    <div class="head">
      <div class="title"><%-__("vibrer")%> <%-__("singing_contest")%></div>
      <div class="close-modal">+</div>
    </div>
    <div class="body contest-info">
      <div class="banner">
        <img src="/public/images/contest1.jpg" alt="Image" />
      </div>

      <div class="title mb-1 mt-3"><%-__("contest_1_by")%></div>
      <div class="text mb-4"><%-__("contest_1_term_desc")%></div>

      <div class="title mb-1"><%-__("how_it_works")%>?</div>

      <div class="text mb-2"><%-__("contest_1_term_desc1")%></div>

      <ol class="mb-4">
        <li><%-__("constest_1_step1")%></li>
        <li><%-__("constest_1_step2")%></li>
        <li><%-__("constest_1_step3")%></li>
        <li><%-__("constest_1_step4")%></li>
        <li><%-__("constest_1_step5")%></li>
      </ol>

      <div class="text mb-4"><%-__("contest_1_step_title")%></div>

      <div class="title"><%-__("contest_1_whats_stake")%></div>
      <div class="blurb-wrap">
        <div class="blurb">
          <div class="title ml-"><%-__("contest_1_first_prize_title")%></div>
          <div class="text"><%-__("contest_1_first_prize_text")%></div>
        </div>
        <div class="blurb">
          <div class="title ml-"><%-__("contest_1_second_prize_title")%></div>
          <div class="text"><%-__("contest_1_second_prize_text")%></div>
        </div>
        <div class="blurb">
          <div class="title ml-"><%-__("contest_1_third_prize_title")%></div>
          <div class="text"><%-__("contest_1_third_prize_text")%></div>
        </div>
      </div>

      <div class="text mt-1 mb-1"><%-__("contest_1_extra_notice")%></div>
      <div class="title mb-3"><%-__("contest_1_winners_opportunities")%></div>
      <ol class="mb-4">
        <li><%-__("contest_1_opportunity_1")%></li>
        <li><%-__("contest_1_opportunity_2")%></li>
        <li><%-__("contest_1_opportunity_3")%></li>
        <li><%-__("contest_1_opportunity_4")%></li>
      </ol>

      <div class="title mb-3"><%-__("contest_1_terms_title")%></div>
      <div class="text mb-3">
        <strong><%-__("contest_1_eligibility_title")%></strong>
      </div>
      <ol class="mb-4 olAlpha">
        <li><%-__("contest_1_eligibility_1")%></li>
        <li><%-__("contest_1_eligibility_2")%></li>
      </ol>

      <div class="title mb-3"><%-__("contest_1_contest_period_title")%></div>
      <ol class="olAlpha mb-3">
        <li><%-__("contest_1_contest_period_1")%></li>
      </ol>

      <div class="title mb-3"><%-__("contest_1_how_to_enter_title")%></div>
      <ol class="olAlpha mb-3">
        <li><%-__("contest_1_how_to_enter_1")%></li>
        <li><%-__("contest_1_how_to_enter_2")%></li>
        <li><%-__("contest_1_how_to_enter_3")%></li>
        <li><%-__("contest_1_how_to_enter_4")%></li>
        <li><%-__("contest_1_how_to_enter_5")%></li>
        <li><%-__("contest_1_how_to_enter_6")%></li>
      </ol>

      <div class="title mb-3"><%-__("contest_1_voting_title")%></div>
      <ol class="olAlpha mb-3">
        <li><%-__("contest_1_voting_1")%></li>
        <li><%-__("contest_1_voting_2")%></li>
        <li><%-__("contest_1_voting_3")%></li>
      </ol>

      <div class="title mb-3"><%-__("contest_1_prizes_title")%></div>
      <ol class="olAlpha mb-3">
        <li><%-__("contest_1_prizes_1")%></li>
        <li><%-__("contest_1_prizes_2")%></li>
      </ol>

      <div class="title mb-3">
        <%-__("contest_1_winner_notification_title")%>
      </div>
      <ol class="olAlpha mb-3">
        <li><%-__("contest_1_winner_notification_1")%></li>
        <li><%-__("contest_1_winner_notification_2")%></li>
        <li><%-__("contest_1_winner_notification_3")%></li>
        <li><%-__("contest_1_winner_notification_4")%></li>
        <li><%-__("contest_1_winner_notification_5")%></li>
      </ol>

      <div class="title mb-3"><%-__("notice")%></div>
      <ol class="olAlpha mb-3">
        <li><%-__("contest_1_terms_conditions_1")%></li>
        <li><%-__("contest_1_terms_conditions_2")%></li>
        <li><%-__("contest_1_terms_conditions_3")%></li>
        <li><%-__("contest_1_terms_conditions_4")%></li>
        <li><%-__("contest_1_terms_conditions_5")%></li>
      </ol>

      <button class="btn btn-primary mt-3 mb-2 close-modal">
        <%-__("i_understand")%>
      </button>
    </div>
  </div>
</div>
