<!-- <header class="<%= (path !== '/') ? 'bg-dark' : '' %>"> -->
<header class="bg-dark">
  <nav class="layout">
    <!-- Logo tes -->
    <% if (path !== '/') { %>
    <div class="logo" onclick="toHome()">
      <img src="/public/images/vibrer_icon.svg" alt="Logo" />
    </div>
    <% } else { %>
    <div class="logo">
      <img src="/public/images/vibrer_icon.svg" alt="Logo" />
    </div>
    <% } %>

    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <div class="menu-overlay"></div>
    <div class="menu">
      <div class="menu-close">+</div>

      <ul>
        <li>
          <a
            class="<%= (path == '/') ? 'active' : '' %>"
            href="<%= (path == '/') ? 'javascript:void(0)' : '/' %>"
          >
            Home
          </a>
        </li>
        <li>
          <a
            class="<%= (path == '/road-map') ? 'active' : '' %>"
            href="<%= (path == '/road-map') ? 'javascript:void(0)' : '/road-map' %>"
            >Road Map</a
          >
        </li>
        <li>
          <a
            class="<%= (path == '/contests') ? 'active' : '' %>"
            href="<%= (path == '/contests') ? 'javascript:void(0)' : '/contests' %>"
            >Contests</a
          >
        </li>
        <li>
          <a
            class="<%= (path == '/Allprojects') ? 'active' : '' %>"
            href="<%= (path == '/Allprojects') ? 'javascript:void(0)' : '/projects' %>"
            >Projects</a
          >
        </li>
      </ul>
    </div>
    <div class="hcta">
      <!-- <div class="languageSwitcher me-1">
        <div class="toggle">
          <img src="/public/flags/en.svg" alt="flag" />
        </div>
        <div class="dropdown">
          <div class="item" data-value="en">
            <img src="/public/flags/gb.svg" alt="flag" />
            <span><%= __("English") %></span>
          </div>
          <div class="item" data-value="fr">
            <img src="/public/flags/fr.svg" alt="flag" />
            <span><%= __("French") %></span>
          </div>
          <div class="item" data-value="de">
            <img src="/public/flags/de.svg" alt="flag" />
            <span><%= __("German") %></span>
          </div>
          <div class="item" data-value="tr">
            <img src="/public/flags/tr.svg" alt="flag" />
            <span><%= __("Turkish") %></span>
          </div>
        </div>
      </div> -->
      <% if (typeof profileData !== 'undefined' && profileData) { %>
      <button class="btn btn-primary" onclick="toLogin()">App</button>

      <% } else { %>
      <button class="btn btn-outlined" onclick="toRegister()">Sign up</button>
      <button class="btn btn-primary" onclick="toLogin()">Login</button>

      <% } %>
    </div>
  </nav>
</header>
