<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="Join Vibrer's prelaunch and be the first to experience a revolutionary music platform. Connect, discover, and engage with artists and music enthusiasts worldwide."
    />
    <meta
      name="keywords"
      content="music platform, prelaunch, music community, music discovery, artist connection, music enthusiasts"
    />
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/public/style/modal.css?v=2.0" />
    <link rel="stylesheet" href="./public/style/contests.css?v=2.0" />
    <link rel="stylesheet" href="/public/style/app.css?v=2.0" />
    <link href="/public/style/video-js.css?v=2.0" rel="stylesheet" />
  </head>

  <body>
    <!-- Loader -->
    <%- include('partials/loader'); %>
    <!-- Header -->
    <%- include('partials/header'); %>

    <main>
      <section class="contest-header bg-dark">
        <div class="layout">
          <div class="wrapper">
            <div>
              <div class="sponsor">
                <img src="/public/images/mod_light.svg" alt="Logo" />
                <div>MOD presents</div>
              </div>
              <div class="title"><%- contestDetailData.result.title %></div>
              <div class="sub">
                Voting will start from 1<sup>st</sup> March 2024 00:00 AM
                (CEST).
              </div>
            </div>
            <div class="cta">
              <button
                class="btn btn-outlined"
                data-toggle="_modal"
                data-target="contest1Info"
              >
                Learn more
              </button>
              <button class="btn btn-primary" onclick="toRegister()">
                Participate
              </button>
              <div
                class="playAd"
                data-toggle="_modal"
                data-target="contest1Video"
              >
                <img src="/public/images/icons/playIconWhite.svg" alt="Icon" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-dark participants">
        <div class="layout">
          <div class="title mt-4 mb-3">Voting Begins In:</div>
          <div class="contestTimer" id="Contest1timer">
            <div class="t_card">
              <div class="title" id="days"></div>
              <div class="_label">Days</div>
            </div>
            <div class="t_card">
              <div class="title" id="hours"></div>
              <div class="_label">Hours</div>
            </div>
            <div class="t_card">
              <div class="title" id="minutes"></div>
              <div class="_label">Minutes</div>
            </div>
            <div class="t_card">
              <div class="title" id="seconds"></div>
              <div class="_label">Seconds</div>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="bg-dark participants">
        <div class="layout">
          <div class="title mb-4">Top 3 contestants</div>
          <div class="wrapper">
            <div class="contestant">
              <div class="head">
                <video
                  controls
                  class="video-js"
                  preload="auto"
                  width="640"
                  height="264"
                  data-setup="{}"
                >
                  <source src="/uploads/inescapable.mp4" type="video/mp4" />
                  <source src="/uploads/inescapable.mp4" type="video/webm" />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank"
                      >supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
              <div class="body">
                <div class="top">
                  <div
                    class="user"
                    data-target="accountModal"
                    data-toggle="_modal"
                  >
                    <div class="img">
                      <img src="/public/images/listening-to.jpg" alt="avatar" />
                    </div>
                    <div class="info">
                      <div class="title">
                        <span>Jessica Hub</span>
                        <img
                          src="/public/images/icons/verified-badge.svg"
                          alt="Badge"
                        />
                      </div>
                      <div class="uname">@jhub</div>
                    </div>
                  </div>

                  <div class="addToFav">
                    <img
                      src="/public/images/icons/bookmark.svg"
                      alt="Bookmark"
                    />
                  </div>
                </div>

                <div class="votes">
                  <div class="count">
                    <strong>Votes:</strong> <span>2036</span>
                  </div>
                  <div class="rank">
                    <strong>Current Rank:</strong> <span>1<sup>st</sup></span>
                  </div>
                </div>

                <div class="cta">
                  <button
                    class="btn btn-outlined"
                    data-target="accountModal"
                    data-toggle="_modal"
                  >
                    Visit artist
                  </button>
                  <button
                    class="btn btn-primary"
                    data-target="accountModal"
                    data-toggle="_modal"
                  >
                    Vote now
                  </button>
                </div>
              </div>
            </div>

            

            <div class="contestant">
              <div class="head">
                <video
                  controls
                  class="video-js"
                  preload="auto"
                  width="640"
                  height="264"
                  data-setup="{}"
                >
                  <source src="/uploads/inescapable.mp4" type="video/mp4" />
                  <source src="/uploads/inescapable.mp4" type="video/webm" />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank"
                      >supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
              <div class="body">
                <div class="top">
                  <div class="user">
                    <div class="img">
                      <img src="/public/images/listening-to.jpg" alt="avatar" />
                    </div>
                    <div class="info">
                      <div class="title">
                        <span>Jessica Hub</span>
                        <img
                          src="/public/images/icons/verified-badge.svg"
                          alt="Badge"
                        />
                      </div>
                      <div class="uname">@jhub</div>
                    </div>
                  </div>

                  <div class="addToFav">
                    <img
                      src="/public/images/icons/bookmark.svg"
                      alt="Bookmark"
                    />
                  </div>
                </div>

                <div class="votes">
                  <div class="count">
                    <strong>Votes:</strong> <span>2036</span>
                  </div>
                  <div class="rank">
                    <strong>Current Rank:</strong> <span>1<sup>st</sup></span>
                  </div>
                </div>

                <div class="cta">
                  <button class="btn btn-outlined">Visit artist</button>
                  <button class="btn btn-primary">Vote now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
    </main>

    <!-- footer -->
    <%- include('partials/footer'); %>
    <!--  -->
    <%- include('modals/contest1Info'); %>
    <!--  -->
    <%- include('modals/contest1Video'); %>
    <!--  -->
    <%- include('modals/accountModal'); %>

    <!-- javascript -->
    <script src="/public/js/cookieBanner.js?v=2.0"></script>
    <script src="/public/js/theme-v01node.js?v=2.0"></script>
    <script src="/public/js/video.min.js?v=2.0"></script>
    <!-- <script src="/public/js/Youtube.min.js?v=2.0"></script> -->
    <script src="/public/js/_modal.js?v=2.0"></script>
    <script src="/public/js/authForm.js?v=2.0"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var players = [];

        var videoElements = document.querySelectorAll(".video-js");
        for (var i = 0; i < videoElements.length; i++) {
          (function (i) {
            var player = videojs(videoElements[i]);

            players.push(player);

            player.on("play", function () {
              pauseOtherPlayers(player);
            });
            player.on("seeking", function () {
              this.muted(true);
            });
            player.on("seeked", function () {
              this.muted(false);
            });
          })(i);
        }

        window.pauseVideo = function () {
          players.forEach(function (player) {
            player.pause();
          });
        };

        function pauseOtherPlayers(currentPlayer) {
          players.forEach(function (player) {
            if (player !== currentPlayer) {
              player.pause();
            }
          });
        }
      });
    </script>

    <script>
      // Set the date we're counting down to
      var countDownDate = new Date("Mar 1, 2024 00:00:00").getTime();

      // Update the count down every 1 second
      var x = setInterval(function () {
        // Get today's date and time in the Berlin timezone
        var now = new Date().toLocaleString("en-US", {
          timeZone: "Europe/Berlin",
        });
        now = new Date(now).getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes, and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the elements with respective ids
        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("Contest1timer").innerHTML =
            "Voting Period Over";
        }
      }, 1000);
    </script>
  </body>
</html>
