<!DOCTYPE html>
<html lang="<%- __('lang') %>">
  <head>
    <meta
      name="description"
      content="Join Vibrer's prelaunch and be the first to experience a revolutionary music platform. Connect, discover, and engage with artists and music enthusiasts worldwide."
    />
    <meta
      name="keywords"
      content="music platform, prelaunch, music community, music discovery, artist connection, music enthusiasts"
    />
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/public/style/app.css?v=3.0" />
  </head>

  <body>
    <!-- Loader -->
    <%- include('partials/loader'); %>
    <main>
      <section class="auth auth-pages" id="forgot-password">
        <div class="auth-container">
          <img class="bg-img" src="/public/images/auth-pass.jpg" alt="Image" />
          <div class="overlay"></div>
          <div class="left-col">
            <div class="title"><%=__("forgot_pass_text")%></div>
          </div>
          <div class="auth-col">
            <div class="form-wrapper">
              <img
                class="logo"
                src="/public/images/vibrer_light_logo.svg"
                alt="Logo"
              />
              <div class="title"><%=__("set_new_pass")%></div>
              <div class="sub"><%=__("set_new_pass_sub")%></div>
              <div class="success-message mb-3">
                Your password has been successfully changed. You can now log in
                with your new password. Remember to keep your password
                confidential and avoid using the same password for multiple
                sites.
              </div>
              <form
                action="javascript:void(0)"
                class="w-100"
                method="POST"
                autocomplete="off"
                id="resetPasswordForm"
              >
                <input type="hidden" name="token" value="<%- token %>" />
                <div class="mb-3 passInputDiv">
                  <input
                    class="form-input"
                    type="password"
                    placeholder="<%=__('new_password')%>"
                    name="password"
                    id="password"
                    required
                    autocomplete="off"
                  />
                  <div class="passInput">
                    <img src="/public/images/icons/visibility.svg" alt="Icon" />
                  </div>
                </div>

                <div class="mb-3 passInputDiv">
                  <input
                    class="form-input"
                    type="password"
                    placeholder="<%=__('confirm_password')%>"
                    name="confirmPassword"
                    autocomplete="off"
                    required
                    id="confirmPassword"
                  />
                  <div class="passInput">
                    <img src="/public/images/icons/visibility.svg" alt="Icon" />
                  </div>
                </div>

                <button
                  class="btn btn-primary w-100 mt-4 submitBtn"
                  type="submit"
                >
                  <%=__('update_password')%>
                </button>
              </form>

              <div class="mt-4 dfac">
                <a class="link-primary dfac ms-1" href="/login">
                  <img
                    src="./public/images/icons/arrow-left-long-primary.svg"
                    alt="icon"
                  />
                  <%=__('go_back_login')%>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- javascript -->
    <script src="/public/js/cookieBanner.js?v=3.0"></script>
    <script src="/public/js/theme-v01node.js?v=3.0"></script>
    <script src="/public/js/authForm.js?v=3.0"></script>
    <script src="/public/js/sweetalert2@11.js?v=3.0"></script>
    <script src="/public/js/config.js?v=3.0"></script>
    <script>
      function toForgotPass() {
        window.location.href = "/forgotpass";
      }
    </script>
    <script>
      var localizedStrings = {
        updatepass: "<%= __('update_password') %>",
        passMustBeAtleast: "<%= __('password_must_be_at_least') %>",
        passwordDidNotMatch: "<%= __('password_did_not_match') %>",
        loading: "<%= __('loading') %>",
        errorProcessing: "<%= __('error_processing') %>",
        oops: "<%= __('oops') %>",
        passUpdated: "<%= __('new_pass_saved') %>",
        successfull: "<%= __('successfull') %>",
        userNotFound: "<%= __('user_not_found') %>",
        tokeExpired: "<%= __('token_expired') %>",
        passAndConfirmPass: "<%= __('pass_confirmpass_failed') %>",
      };
      document.addEventListener("DOMContentLoaded", function () {
        document
          .getElementById("resetPasswordForm")
          .addEventListener("submit", async function (e) {
            e.preventDefault();
            const btn = document.querySelector(".submitBtn");
            btn.textContent = localizedStrings.loading;
            btn.disabled = true;

            // Serialize the form data into a JavaScript object
            var formData = new FormData(this);
            var jsonData = {};
            formData.forEach(function (value, key) {
              jsonData[key] = value;
            });

            const password = document.getElementById("password").value;
            const cPassword = document.getElementById("confirmPassword").value;
            if (password.length < 6 || cPassword.length < 6) {
              Swal.fire({
                position: "center",
                icon: "error",
                title: localizedStrings.oops,
                text: localizedStrings.passMustBeAtleast,
                showConfirmButton: false,
                timer: 2100,
              });
              btn.textContent = localizedStrings.updatepass;
              btn.disabled = false;
              return false;
            }

            try {
              // Make a POST request using fetch
              const response = await fetch(`${API_URL}appUser/reset-password`, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(jsonData),
              });

              if (response.ok) {
                const result = await response.json();

                if (result.status === 1) {
                  Swal.fire({
                    position: "center",
                    icon: "success",
                    title: localizedStrings.successfull,
                    text: localizedStrings.passUpdated,
                    showConfirmButton: false,
                    timer: 2100,
                  }).then(() => {
                    window.location.href = "/login";
                  });
                } else {
                  Swal.fire({
                    position: "center",
                    icon: "error",
                    title: localizedStrings.oops,
                    text: result.message,
                    showConfirmButton: false,
                    timer: 2100,
                  });
                }
              } else {
                const errorResponse = await response.json();
                var errorMessage = errorResponse.error || errorResponse.message;

                if (errorMessage === "User not found") {
                  errorMessage = localizedStrings.userNotFound;
                } else if (errorMessage === "Token is expired") {
                  errorMessage = localizedStrings.tokeExpired;
                } else if (
                  errorMessage === "Password and confirm password did not match"
                ) {
                  errorMessage = localizedStrings.passAndConfirmPass;
                }
                Swal.fire({
                  position: "center",
                  icon: "error",
                  title: localizedStrings.oops,
                  text: errorMessage,
                  showConfirmButton: false,
                  timer: 2100,
                });
              }
              btn.textContent = localizedStrings.updatepass;
              btn.disabled = false;
            } catch (error) {
              console.error("Error:", error);

              Swal.fire({
                position: "center",
                icon: "error",
                title: localizedStrings.oops,
                text: localizedStrings.errorProcessing,
                showConfirmButton: false,
                timer: 2100,
              });
              btn.textContent = localizedStrings.updatepass;
              btn.disabled = false;
            }
          });
      });
    </script>
  </body>
</html>
