<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#1e2750" />

    <meta
      name="description"
      content="Join Vibrer's prelaunch and be the first to experience a revolutionary music platform. Connect, discover, and engage with artists and music enthusiasts worldwide."
    />
    <meta
      name="keywords"
      content="music platform, music community, music discovery, artist connection, music enthusiasts"
    />
    <%- include('../partials/head'); %>
    <script src="/public/js/config.js?v=3.1"></script>
    <link rel="stylesheet" href="/public/style/app.css?v=3.1" />
    <link rel="stylesheet" href="/public/style/contests.css?v=3.1" />
  </head>
  <body class="body-dark _pr">
    <!-- loader -->
    <%- include('../partials/loader'); %>

    <!-- header -->
    <%- include('partials/header'); %>

    <main class="app_layout app_wrapper">
      <%- include('components/app-sidebar'); %>

      <!-- main body of the app -->
      <div class="app_main">
        <div class="title mb-3">Ongoing contest</div>
        <% if (onGoingContestsData.result && onGoingContestsData.result.length >
        0) { onGoingContestsData.result.forEach(onGoingContests => { %>
        <a
          class="contests-wrapper"
          href="contest-view/<%- onGoingContests._id %>"
        >
          <div class="contest">
            <div class="status active"><%- onGoingContests.status %></div>
            <img
              class="hinm"
              src="<%- ADMIN_URL %>uploads/<%- onGoingContests.banner.xl  %>"
              alt="images"
            />
            <img
              class="hinb"
              src="<%- ADMIN_URL %>uploads/<%- onGoingContests.banner.m  %>"
              alt="images"
            />
          </div>
        </a>
        <% }); } %>
      </div>

      <!-- right side section of the app -->
      <div class="app_right cs-scroll">
        <div class="artists">
          <div
            data-id="user._id"
            class="artist_wrapper mb-3"
            style="background-image: url('/public/images/singer.png')"
          >
            <div class="overlay"></div>
            <div class="_user">
              <img src="/uploads/profileDemo.png" alt="User" />
              <div class="info">
                <div class="name">
                  <span>Jessica Hub</span>
                  <img
                    class="app_v_badge"
                    src="/public/images/icons/verified-badge.svg"
                    alt="badge"
                  />
                </div>
                <div class="uname">@jhub</div>
              </div>
            </div>
          </div>

          <div
            data-id="user._id"
            class="artist_wrapper mb-3"
            style="background-image: url('/uploads/coverDemo.jpeg')"
          >
            <div class="overlay"></div>
            <div class="_user">
              <img src="/uploads/profileDemo.png" alt="User" />
              <div class="info">
                <div class="name">
                  <span>Jessica Hub</span>
                  <img
                    class="app_v_badge"
                    src="/public/images/icons/verified-badge.svg"
                    alt="badge"
                  />
                </div>
                <div class="uname">@jhub</div>
              </div>
            </div>
          </div>

          <div
            data-id="user._id"
            class="artist_wrapper mb-3"
            style="background-image: url('/uploads/coverDemo.jpeg')"
          >
            <div class="overlay"></div>
            <div class="_user">
              <img src="/uploads/profileDemo.png" alt="User" />
              <div class="info">
                <div class="name">
                  <span>Jessica Hub</span>
                  <img
                    class="app_v_badge"
                    src="/public/images/icons/verified-badge.svg"
                    alt="badge"
                  />
                </div>
                <div class="uname">@jhub</div>
              </div>
            </div>
          </div>

          <div class="app_right_link">
            <div class="link">View all</div>
          </div>
        </div>
      </div>
    </main>
    <!-- javascript -->
    <script src="/public/js/redirections.js?v=3.1"></script>
    <script src="/public/js/general.js?v=3.1"></script>
  </body>
</html>
