<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#1e2750" />

    <meta
      name="description"
      content="Join Vibrer's prelaunch and be the first to experience a revolutionary music platform. Connect, discover, and engage with artists and music enthusiasts worldwide."
    />
    <meta
      name="keywords"
      content="music platform, music community, music discovery, artist connection, music enthusiasts"
    />
    <%- include('../partials/head'); %>

    <link rel="stylesheet" href="/public/style/app.css?v=2.0" />
    <link rel="stylesheet" href="/public/style/modal.css?v=2.0" />
    <link href="/public/style/video-js.css?v=2.0" rel="stylesheet" />
    <link rel="stylesheet" href="/public/style/contests.css?v=2.0" />
  </head>
  <body class="body-dark _pr">
    <!-- loader -->
    <%- include('../partials/loader'); %>

    <!-- header -->
    <%- include('partials/header'); %>

    <main class="app_layout app_wrapper">
      <%- include('components/app-sidebar'); %>

      <!-- main body of the app -->
      <div class="app_main">
        <div class="app_page_menu">
          <div
            onclick="toMyContests('<%= path  %>', '<%= link %>');"
            class="<%= (link == '/my-contests') ? 'active page_menu_link' : 'page_menu_link' %>"
          >
            My contests
          </div>
          <div
            class="<%= (link == '/my-contest-votes') ? 'active page_menu_link' : 'page_menu_link' %>"
            onclick="toMyVotes('<%= link %>');"
          >
            My votes
          </div>
          <div
            class="<%= (link == '/my-contest-favs') ? 'active page_menu_link' : 'page_menu_link' %>"
            onclick="toMyContestFavs('<%= link %>');"
          >
            Favorites
          </div>
        </div>
        <% if (favouritesData.result && favouritesData.result.length > 0) {
        favouritesData.result.forEach(favouritesData => { %>
        <div class="myContestCard mt-3 mb-3 shadow">
          <div class="flex-title">
            <span><%- favouritesData.contest_details.title %></span>
            <div class="status active">Active</div>
          </div>
          <div class="text white mb-3">
            <% if (favouritesData.contest_details.endDays > 0) { %> Ends in <%=
            favouritesData.contest_details.endDays %> days <% } else { %> Over
            <%= Math.abs(favouritesData.contest_details.endDays) %> days before
            <% } %>
          </div>
          <% const getOrdinalSuffix = (number) => { const suffixes = ["th",
          "st", "nd", "rd"]; const v = number % 100; return (suffixes[(v - 20) %
          10] || suffixes[v] || suffixes[0]); }; if (favouritesData.participants
          && favouritesData.participants.length > 0) { let c = 0; let
          alreadyVoted = ""; favouritesData.participants.forEach(participants =>
          { c++; %>
          <div class="contestant mb-3">
            <div class="head">
              <div
                class="yourVote<%- favouritesData.contest_id %>"
                id="yourVote<%- favouritesData.contest_id %><%- participants.user_id._id %>"
              >
                <% if(participants.is_voted){ alreadyVoted =
                participants.user_id._id; %>
                <div class="yourVote">You voted</div>
                <% } %>
              </div>
              <video
                controls
                class="video-js"
                preload="auto"
                width="640"
                height="264"
                data-setup="{}"
              >
                <source src="<%- participants.media %>" type="video/mp4" />
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider
                  upgrading to a web browser that
                  <a
                    href="https://videojs.com/html5-video-support/"
                    target="_blank"
                    >supports HTML5 video</a
                  >
                </p>
              </video>
              <!-- <img src="/public/images/icons/playIconWhite.svg" alt="Icon" /> -->
              <input
                type="hidden"
                id="alreadyVoted<%- favouritesData.contest_id %>"
                value="<%- alreadyVoted %>"
              />
            </div>
            <div class="body">
              <div class="top">
                <div
                  class="user"
                  data-target="accountModal"
                  data-toggle="_modal"
                >
                  <div class="img">
                    <img src="/public/images/listening-to.jpg" alt="avatar" />
                  </div>
                  <div class="info">
                    <div class="title">
                      <span><%- participants.user_id.full_name %></span>
                      <% if(participants.user_id.verified){ %>
                      <img
                        src="/public/images/icons/verified-badge.svg"
                        alt="Badge"
                      />
                      <% } %>
                    </div>
                    <div class="uname">
                      @<%- participants.user_id.username %>
                    </div>
                  </div>
                </div>

                <div class="addToFav">
                  <a
                    href="javascript:void(0)"
                    id="favouriteBtn<%- favouritesData.contest_id %><%- participants.user_id._id %>"
                    onclick="addParticipateToFavourite('<%- favouritesData.contest_id %>', '<%- participants.user_id._id %>');"
                  >
                    <img
                      src="/public/images/icons/bookmark1.svg"
                      alt="Bookmark"
                      id="favouriteIcon<%- favouritesData.contest_id %><%- participants.user_id._id %>"
                    />
                  </a>
                </div>
              </div>

              <div class="votes">
                <div class="count">
                  <strong>Votes:</strong>
                  <span
                    id="countVotes<%- favouritesData.contest_id %><%- participants.user_id._id %>"
                    ><%- participants.votes.length %></span
                  >
                </div>
                <div class="rank">
                  <strong>Current Rank:</strong>
                  <span
                    ><%- participants.rank %><sup
                      ><%- getOrdinalSuffix(participants.rank) %></sup
                    ></span
                  >
                </div>
              </div>

              <div class="cta">
                <button
                  class="btn btn-outlined"
                  data-target="accountModal"
                  data-toggle="_modal"
                >
                  Visit artist
                </button>
                <button
                  class="btn btn-primary submitVoteBtn<%- favouritesData.contest_id %>"
                  type="button"
                  id="submitVoteBtn<%- favouritesData.contest_id %><%- participants.user_id._id %>"
                  onclick="addParticipateVote('<%- participants.user_id._id %>','<%- favouritesData.contest_id %>');"
                >
                  <% if(participants.is_voted){ %>Remove vote<% } else { %> Vote
                  now <% } %>
                </button>
              </div>
            </div>
          </div>
          <% }); } %>
        </div>
        <% }); } %>

        <!-- app main end -->
      </div>

      <!-- right side section of the app -->
      <div class="app_right cs-scroll">
        <div class="artists">
          <div
            data-id="user._id"
            class="artist_wrapper mb-3"
            style="background-image: url('/public/images/singer.png')"
          >
            <div class="overlay"></div>
            <div class="_user">
              <img src="/uploads/profileDemo.png" alt="User" />
              <div class="info">
                <div class="name">
                  <span>Jessica Hub</span>
                  <img
                    class="app_v_badge"
                    src="/public/images/icons/verified-badge.svg"
                    alt="badge"
                  />
                </div>
                <div class="uname">@jhub</div>
              </div>
            </div>
          </div>

          <div
            data-id="user._id"
            class="artist_wrapper mb-3"
            style="background-image: url('/uploads/coverDemo.jpeg')"
          >
            <div class="overlay"></div>
            <div class="_user">
              <img src="/uploads/profileDemo.png" alt="User" />
              <div class="info">
                <div class="name">
                  <span>Jessica Hub</span>
                  <img
                    class="app_v_badge"
                    src="/public/images/icons/verified-badge.svg"
                    alt="badge"
                  />
                </div>
                <div class="uname">@jhub</div>
              </div>
            </div>
          </div>

          <div
            data-id="user._id"
            class="artist_wrapper mb-3"
            style="background-image: url('/uploads/coverDemo.jpeg')"
          >
            <div class="overlay"></div>
            <div class="_user">
              <img src="/uploads/profileDemo.png" alt="User" />
              <div class="info">
                <div class="name">
                  <span>Jessica Hub</span>
                  <img
                    class="app_v_badge"
                    src="/public/images/icons/verified-badge.svg"
                    alt="badge"
                  />
                </div>
                <div class="uname">@jhub</div>
              </div>
            </div>
          </div>

          <div class="app_right_link">
            <div class="link">View all</div>
          </div>
        </div>
      </div>
    </main>
    <%- include('../modals/shareModal'); %>
    <!-- javascript -->
    <script src="/public/js/redirections.js?v=2.0"></script>
    <script src="/public/js/general.js?v=2.0"></script>
    <script src="/public/js/_modal.js?v=2.0"></script>
    <script src="/public/js/video.min.js?v=2.0"></script>
    <script src="/public/js/Youtube.min.js?v=2.0"></script>
    <script src="/public/js/config.js?v=2.0"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Event listener for WhatsApp share buttons
        var whatsappButtons = document.querySelectorAll(".btn-whatsapp");
        whatsappButtons.forEach(function (button) {
          button.addEventListener("click", function () {
            var url = this.getAttribute("data-url");
            window.open(url, "_blank");

            // Close the modal after 1 second
            setTimeout(() => closeCurrentModal(this), 1000);
          });
        });

        // Event listener for Copy URL buttons
        var copyButtons = document.querySelectorAll(".copy-url-btn");
        copyButtons.forEach(function (button) {
          button.addEventListener("click", function () {
            // Copy URL to clipboard
            var url = this.getAttribute("data-url");
            navigator.clipboard
              .writeText(url)
              .then(() => {
                // Store the original button text
                var originalText = button.textContent;

                // Change button text to 'Copied!'
                button.textContent = "Copied!";

                // Change the text back to the original after 2 seconds
                setTimeout(function () {
                  button.textContent = originalText;
                }, 2000);

                // Close the modal after 1 second
                setTimeout(() => closeCurrentModal(this), 1000);
              })
              .catch((err) => {
                console.error("Could not copy text: ", err);
              });
          });
        });

        // Function to close the current modal
        function closeCurrentModal(button) {
          var modal = button.closest("._modal");
          if (modal) {
            closeModal(modal);
          }
        }
      });
      // Your existing closeModal function
      function closeModal(modal) {
        var dialog = modal.querySelector(".dialog");
        if (dialog) {
          dialog.classList.remove("show");
          dialog.addEventListener(
            "transitionend",
            function () {
              modal.classList.remove("d-block");
              document.body.classList.remove("modal-open");
            },
            { once: true }
          );
        }
      }
    </script>

    <script>
      var players = [];

      var videoElements = document.querySelectorAll(".video-js");

      for (var i = 0; i < videoElements.length; i++) {
        var player = videojs(videoElements[i]);

        // Store the player instance in the array
        players.push(player);

        // Add event listener to each player
        player.on("play", function () {
          pauseOtherPlayers(this);
        });
        player.on("seeking", function () {
          player.muted(true);
        });

        player.on("seeked", function () {
          player.muted(false);
        });
      }
      function pauseVideo() {
        player.pause();
      }
      // Function to pause all players except the currently playing one
      function pauseOtherPlayers(currentPlayer) {
        players.forEach(function (player) {
          if (player !== currentPlayer) {
            player.pause();
          }
        });
      }

      async function addParticipateVote(participate_id, contest_id) {
        const submitBtn = document.getElementById(
          "submitVoteBtn" + contest_id + participate_id + ""
        );
        const voteBtn = document.getElementById(
          "yourVote" + contest_id + participate_id + ""
        );

        const submitBtnAll = document.getElementsByClassName(
          "submitVoteBtn" + contest_id + ""
        );
        const voteBtnAll = document.getElementsByClassName(
          "yourVote" + contest_id + ""
        );
        let countVotes = document.getElementById(
          "countVotes" + contest_id + participate_id + ""
        ).innerHTML;
        let countVotesElement = document.getElementById(
          "countVotes" + contest_id + participate_id + ""
        );
        const alreadyVoted = document.getElementById(
          "alreadyVoted" + contest_id + ""
        ).value;

        submitBtn.textContent = "Loading...";
        setTimeout(async () => {
          const formData = {
            contest_id: contest_id,
            participate_id: participate_id,
          };
          const url = `${API_URL}add/contestParticipateVote`;
          try {
            const response = await fetch(url, {
              method: "POST",
              headers: {
                Authorization: `Bearer ${localStorage.getItem("appUserToken")}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(formData),
            });

            const responseData = await response.json();
            if (response.status === 201 || response.status === 200) {
              if (responseData.status === 1) {
                if (response.status === 201) {
                  Array.from(submitBtnAll).forEach((btn) => {
                    btn.innerHTML = "Vote now";
                  });

                  Array.from(voteBtnAll).forEach((btn) => {
                    btn.innerHTML = "";
                  });
                  if (alreadyVoted !== "") {
                    let countVotesAlready = document.getElementById(
                      "countVotes" + contest_id + alreadyVoted + ""
                    ).innerHTML;
                    let countVotesElementAlready = document.getElementById(
                      "countVotes" + contest_id + alreadyVoted + ""
                    );
                    countVotesAlready = +countVotesAlready - 1;
                    countVotesElementAlready.innerHTML = countVotesAlready;
                  }

                  submitBtn.innerHTML = "Remove vote";
                  voteBtn.innerHTML = `<div class="yourVote">You voted</div>`;
                  countVotes = +countVotes + 1;
                  document.getElementById(
                    "alreadyVoted" + contest_id + ""
                  ).value = participate_id;
                } else {
                  submitBtn.innerHTML = "Vote now";
                  voteBtn.innerHTML = "";
                  countVotes = +countVotes - 1;
                  document.getElementById(
                    "alreadyVoted" + contest_id + ""
                  ).value = "";
                }
                countVotesElement.innerHTML = countVotes;
              } else {
              }
            } else {
            }
          } catch (err) {
            // Handle fetch error
            console.error("An error occurred", err);
          }
          // submitBtn.textContent = "Vote now";
        }, 1000);
      }

      //   Add to favourite

      async function addParticipateToFavourite(contest_id, participate_id) {
        const favouriteIcon = document.getElementById(
          "favouriteIcon" + contest_id + participate_id + ""
        );
        const favouriteBtn = document.getElementById(
          "favouriteBtn" + contest_id + participate_id + ""
        );

        // Disable the button
        favouriteBtn.disabled = true;

        setTimeout(async () => {
          const formData = {
            contest_id: contest_id,
            participate_id: participate_id,
          };
          const url = `${API_URL}addContestParticipantToFavourite`;
          try {
            const response = await fetch(url, {
              method: "POST",
              headers: {
                Authorization: `Bearer ${localStorage.getItem("appUserToken")}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify(formData),
            });

            const responseData = await response.json();
            if (response.status === 201 || response.status === 200) {
              if (responseData.status === 1) {
                if (response.status === 201) {
                  favouriteIcon.src = "/public/images/icons/bookmark1.svg";
                } else {
                  favouriteIcon.src = "/public/images/icons/bookmark.svg";
                }
              } else {
                if (responseData.error) {
                  responseData.message = responseData.error;
                }
              }
            } else {
              errorPop.style.display = "block";
              if (responseData.error) {
                responseData.message = responseData.error;
              }
            }
          } catch (err) {
            // Handle fetch error
            console.error("An error occurred", err);
          } finally {
            // Enable the button after the API call is complete
            favouriteBtn.disabled = false;
          }
        }, 1000);
      }
    </script>
  </body>
</html>
