<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#1e2750" />

    <meta
      name="description"
      content="Join Vibrer's prelaunch and be the first to experience a revolutionary music platform. Connect, discover, and engage with artists and music enthusiasts worldwide."
    />
    <meta
      name="keywords"
      content="Singing contest, music platform, music community, music discovery, artist connection, music enthusiasts"
    />
    <%- include('../partials/head'); %>
    <link href="/public/style/quill.snow.css?v=3.0" rel="stylesheet" />
    <link rel="stylesheet" href="/public/style/modal.css?v=3.0" />
    <link rel="stylesheet" href="/public/style/app.css?v=3.0" />
    <link rel="stylesheet" href="/public/style/contests.css?v=3.0" />
    <link href="/public/style/video-js.css?v=3.0" rel="stylesheet" />
  </head>
  <body class="body-dark _pr">
    <!-- loader -->
    <%- include('../partials/loader'); %>

    <!-- header -->
    <%- include('./partials/pre-header'); %>

    <main class="app_layout app_wrapper">
      <!-- main body of the app -->
      <div class="app_main preMain">
        <section class="contest-header" style="padding: 1.5rem">
          <div class="wrapper" style="position: relative; z-index: 2">
            <div>
              <div class="sponsor">
                <img src="/public/images/mod_light.svg" alt="Logo" />
                <div><%= __("mod_presents") %></div>
              </div>
              <div class="title"><%= __("vscontest") %></div>
              <div class="sub"><%- __("voting_notice") %></div>
              <!--    <div class="sub">
               <%- onGoingContestsData.result.participates.length %>
                Participants • <% if (onGoingContestsData.result.endDays > 0) {
                %> Ends in <%= onGoingContestsData.result.endDays %> days <% }
                else { %> Over <%= Math.abs(onGoingContestsData.result.endDays)
                %> days before <% } %> 
                Voting will start from 1<sup>st</sup> March 2024 00:00 AM
                (CEST).
              </div>-->
            </div>
            <div class="cta">
              <button
                class="btn btn-outlined"
                data-toggle="_modal"
                data-target="contest1Info"
              >
                <%= __("learn_more") %>
              </button>
              <% if(profileData.user_type === 'Artist'){ %>
              <button
                class="btn btn-primary"
                onclick="toPreMyContests('<%= path %>','<%- onGoingContestsData.result._id %>')"
              >
                <% if (isParticipated) { %> View my Post <% } else { %> <%=
                __("participate") %> <% } %>
              </button>
              <% } %>
              <div
                class="playAd"
                data-toggle="_modal"
                data-target="contest1Video"
              >
                <img src="/public/images/icons/playIconWhite.svg" alt="Icon" />
              </div>
            </div>
          </div>
        </section>
        <div class="title mt-4 mb-3"><%-__("vonting_begins")%></div>
        <div class="contestTimer" id="Contest1timer">
          <div class="t_card">
            <div class="title" id="days"></div>
            <div class="_label"><%-__("days")%></div>
          </div>
          <div class="t_card">
            <div class="title" id="hours"></div>
            <div class="_label"><%-__("hours")%></div>
          </div>
          <div class="t_card">
            <div class="title" id="minutes"></div>
            <div class="_label"><%-__("minutes")%></div>
          </div>
          <div class="t_card">
            <div class="title" id="seconds"></div>
            <div class="_label"><%-__("seconds")%></div>
          </div>
        </div>

        <!-- footer -->
        <div class="temp_footer">
          <div class="top">
            <div class="link">
              <a target="_blank" href="/imprint"><%= __("imprint") %></a>
            </div>
            <div class="link">
              <a target="_blank" href="/privacy"> <%= __("privacyPolicy") %></a>
            </div>
            <div class="link">
              <a target="_blank" href="/terms"><%= __("termsOfUse") %></a>
            </div>
            <div class="link">
              <a target="_blank" href="/cookies">
                <%= __("cookieSettings") %></a
              >
            </div>
            <div class="link">
              <a target="_blank" href="/"> <%= __("Home") %></a>
            </div>
          </div>
          <div class="social-icons">
            <a href="https://www.youtube.com/@vibrer-official" target="_blank">
              <img
                class="yti"
                src="/public/images/youtube.svg"
                alt="Youtube icon"
            /></a>
            <a
              href="https://www.instagram.com/vibrer_official/"
              target="_blank"
            >
              <img src="/public/images/instagram.svg" alt="Instagram icon"
            /></a>
          </div>

          <div class="footer-languagebar mt-3">
            <div class="app-languageSwitcher me-1">
              <div class="item" data-value="en">
                <span><%= __("English") %></span>
              </div>
              <div class="item" data-value="fr">
                <span><%= __("French") %></span>
              </div>
              <div class="item" data-value="de">
                <span><%= __("German") %></span>
              </div>
              <div class="item" data-value="it">
                <span><%= __("Italian") %></span>
              </div>
              <div class="item" data-value="pt">
                <span><%= __("Portuguese") %></span>
              </div>
              <div class="item" data-value="tr">
                <span><%= __("Turkish") %></span>
              </div>
            </div>
          </div>

          <div class="bottom">
            <%- __("copyright").replace("{year}", new Date().getFullYear()) %>
          </div>
        </div>
      </div>
    </main>

    <%- include('../modals/contest1Info'); %>
    <!--  -->
    <%- include('../modals/contest1Video'); %>
    <!-- javascript -->
    <script src="/public/js/redirections.js?v=3.0"></script>
    <script src="/public/js/general.js?v=3.0"></script>
    <script src="/public/js/app_language.js"></script>
    <script src="/public/js/quill.min.js?v=3.0"></script>
    <script src="/public/js/video.min.js?v=3.0"></script>
    <script src="/public/js/sweetalert2@11.js?v=3.0"></script>
    <script src="/public/js/_modal.js?v=3.0"></script>
    <script src="/public/js/check-select.js?v=3.0"></script>
    <script src="/public/js/config.js?v=3.0"></script>
    <script>
      var players = [];

      var videoElements = document.querySelectorAll(".video-js");

      for (var i = 0; i < videoElements.length; i++) {
        var player = videojs(videoElements[i]);

        // Store the player instance in the array
        players.push(player);

        // Add event listener to each player
        player.on("play", function () {
          pauseOtherPlayers(this);
        });
        player.on("seeking", function () {
          player.muted(true);
        });

        player.on("seeked", function () {
          player.muted(false);
        });
      }
      function pauseVideo() {
        player.pause();
      }
      // Function to pause all players except the currently playing one
      function pauseOtherPlayers(currentPlayer) {
        players.forEach(function (player) {
          if (player !== currentPlayer) {
            player.pause();
          }
        });
      }
      // var quill = new Quill("#desc", {
      //   modules: {
      //     toolbar: false,
      //   },
      //   placeholder: "Description (optional)", //
      //   theme: "snow",
      // });
    </script>

    <script>
      // Set the date we're counting down to
      var countDownDate = new Date("Mar 1, 2024 23:59:59").getTime();

      // Update the count down every 1 second
      var x = setInterval(function () {
        // Get today's date and time in the Berlin timezone
        var now = new Date().toLocaleString("en-US", {
          timeZone: "Europe/Berlin",
        });
        now = new Date(now).getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes, and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the elements with respective ids
        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("Contest1timer").innerHTML =
            "Voting Period Over";
        }
      }, 1000);
    </script>
    <!-- <script>
      document
        .getElementById("media_file")
        .addEventListener("change", function (event) {
          // Display the progress bar
          var progressBar = document.getElementById("uploadProgress");
          var progressBarFill = progressBar.querySelector(".progress-bar-fill");
          progressBar.classList.remove("d-none");

          // Simulate file upload progress
          var uploadPercentage = 0;
          var simulateUpload = setInterval(function () {
            if (uploadPercentage >= 100) {
              clearInterval(simulateUpload);

              // Hide the progress bar
              progressBar.classList.add("d-none");

              // Update the video source and display it
              var videoElement = document.querySelector(".video-preview video");
              var videoSource = videoElement.getElementsByTagName("source");
              videoSource[0].src = "/uploads/your-uploaded-video.mp4"; // Static URL for demonstration
              videoSource[1].src = "/uploads/your-uploaded-video.webm"; // Static URL for demonstration
              videoElement.load();

              // Display the video player and title
              document
                .querySelector(".video-preview")
                .classList.remove("d-none");
              document.querySelector(".pr-title").classList.remove("d-none");
            } else {
              uploadPercentage += 5; // Incrementing the percentage by 5
              progressBarFill.style.width = uploadPercentage + "%";
              progressBarFill.textContent = uploadPercentage + "%";
            }
          }, 200); // Adjust the interval time as needed
        });
    </script> -->

    <script>
      async function logoutAppUser() {
        try {
          // Clear token from localStorage
          localStorage.removeItem("appUserToken");

          // Clear token from server session
          await fetch("/clear-token-in-session", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            // You might need to send the token to the server for verification
            // Add it to the body if required
            body: JSON.stringify({
              // token: getStoredTokenFromLocalStorage(),
            }),
          });

          // Redirect to the logout page or any other desired action
          window.location.href = "/login";
        } catch (error) {
          console.error("Error during logout:", error);
          // Handle the error as needed
        }
      }
    </script>
  </body>
</html>
