<div class="options cs-scroll-light">
  <div class="option" value="Afghanistan"><%= __('afghanistan') %></div>
  <div class="option" value="Albania"><%= __('albania') %></div>
  <div class="option" value="Algeria"><%= __('algeria') %></div>
  <div class="option" value="Andorra"><%= __('andorra') %></div>
  <div class="option" value="Angola"><%= __('angola') %></div>
  <div class="option" value="Argentina"><%= __('argentina') %></div>
  <div class="option" value="Armenia"><%= __('armenia') %></div>
  <div class="option" value="Australia"><%= __('australia') %></div>
  <div class="option" value="Austria"><%= __('austria') %></div>
  <div class="option" value="Azerbaijan"><%= __('azerbaijan') %></div>
  <div class="option" value="Bahamas"><%= __('bahamas') %></div>
  <div class="option" value="Bahrain"><%= __('bahrain') %></div>
  <div class="option" value="Bangladesh"><%= __('bangladesh') %></div>
  <div class="option" value="Barbados"><%= __('barbados') %></div>
  <div class="option" value="Belarus"><%= __('belarus') %></div>
  <div class="option" value="Belgium"><%= __('belgium') %></div>
  <div class="option" value="Belize"><%= __('belize') %></div>
  <div class="option" value="Benin"><%= __('benin') %></div>
  <div class="option" value="Bhutan"><%= __('bhutan') %></div>
  <div class="option" value="Bolivia"><%= __('bolivia') %></div>
  <div class="option" value="Bosnia and Herzegovina">
    <%= __('bosnia_and_herzegovina') %>
  </div>
  <div class="option" value="Botswana"><%= __('botswana') %></div>
  <div class="option" value="Brazil"><%= __('brazil') %></div>
  <div class="option" value="Brunei"><%= __('brunei') %></div>
  <div class="option" value="Bulgaria"><%= __('bulgaria') %></div>
  <div class="option" value="Burkina Faso"><%= __('burkina_faso') %></div>
  <div class="option" value="Burundi"><%= __('burundi') %></div>
  <div class="option" value="Cambodia"><%= __('cambodia') %></div>
  <div class="option" value="Cameroon"><%= __('cameroon') %></div>
  <div class="option" value="Canada"><%= __('canada') %></div>
  <div class="option" value="Cape Verde"><%= __('cape_verde') %></div>
  <div class="option" value="Central African Republic">
    <%= __('central_african_republic') %>
  </div>
  <div class="option" value="Chad"><%= __('chad') %></div>
  <div class="option" value="Chile"><%= __('chile') %></div>
  <div class="option" value="China"><%= __('china') %></div>
  <div class="option" value="Colombia"><%= __('colombia') %></div>
  <div class="option" value="Comoros"><%= __('comoros') %></div>
  <div class="option" value="Congo (Brazzaville)">
    <%= __('congo_brazzaville') %>
  </div>
  <div class="option" value="Congo (Kinshasa)"><%= __('congo_kinshasa') %></div>
  <div class="option" value="Costa Rica"><%= __('costa_rica') %></div>
  <div class="option" value="Croatia"><%= __('croatia') %></div>
  <div class="option" value="Cuba"><%= __('cuba') %></div>
  <div class="option" value="Cyprus"><%= __('cyprus') %></div>
  <div class="option" value="Czech Republic"><%= __('czech_republic') %></div>
  <div class="option" value="  Denmark"><%=__('denmark')%></div>
  <div class="option" value="Djibouti"><%=__('djibouti')%></div>
  <div class="option" value="Dominica"><%=__('dominica')%></div>
  <div class="option" value="Dominican Republic">
    <%=__('dominican_republic')%>
  </div>
  <div class="option" value="Ecuador"><%=__('ecuador')%></div>
  <div class="option" value="Egypt"><%=__('egypt')%></div>
  <div class="option" value="El Salvador"><%=__('el_salvador')%></div>
  <div class="option" value="Equatorial Guinea">
    <%=__('equatorial_guinea')%>
  </div>
  <div class="option" value="Eritrea"><%=__('eritrea')%></div>
  <div class="option" value="Estonia"><%=__('estonia')%></div>
  <div class="option" value="Eswatini"><%=__('eswatini')%></div>
  <div class="option" value="Ethiopia"><%=__('ethiopia')%></div>
  <div class="option" value="Fiji"><%=__('fiji')%></div>
  <div class="option" value="Finland"><%=__('finland')%></div>
  <div class="option" value="France"><%=__('france')%></div>
  <div class="option" value="Gabon"><%=__('gabon')%></div>
  <div class="option" value="Gambia"><%=__('gambia')%></div>
  <div class="option" value="Georgia"><%=__('georgia')%></div>
  <div class="option" value="Germany"><%=__('germany')%></div>
  <div class="option" value="Ghana"><%=__('ghana')%></div>
  <div class="option" value="Greece"><%=__('greece')%></div>
  <div class="option" value="Grenada"><%=__('grenada')%></div>
  <div class="option" value="Guatemala"><%=__('guatemala')%></div>
  <div class="option" value="Guinea"><%=__('guinea')%></div>
  <div class="option" value="Guinea-Bissau"><%=__('guinea_bissau')%></div>
  <div class="option" value="Guyana"><%=__('guyana')%></div>
  <div class="option" value="Haiti"><%=__('haiti')%></div>
  <div class="option" value="Honduras"><%=__('honduras')%></div>
  <div class="option" value="Hungary"><%=__('hungary')%></div>
  <div class="option" value="Iceland"><%=__('iceland')%></div>
  <div class="option" value="India"><%=__('india')%></div>
  <div class="option" value="Indonesia"><%=__('indonesia')%></div>
  <div class="option" value="Iran"><%=__('iran')%></div>
  <div class="option" value="Iraq"><%=__('iraq')%></div>
  <div class="option" value="Ireland"><%=__('ireland')%></div>
  <div class="option" value="Israel"><%=__('israel')%></div>
  <div class="option" value="Italy"><%=__('italy')%></div>
  <div class="option" value="Ivory Coast"><%=__('ivory_coast')%></div>
  <div class="option" value="Jamaica"><%=__('jamaica')%></div>
  <div class="option" value="Japan"><%=__('japan')%></div>
  <div class="option" value="Jordan"><%=__('jordan')%></div>
  <div class="option" value="Kazakhstan"><%=__('kazakhstan')%></div>
  <div class="option" value="Kenya"><%=__('kenya')%></div>
  <div class="option" value="Kiribati"><%=__('kiribati')%></div>
  <div class="option" value="Kosovo"><%=__('kosovo')%></div>
  <div class="option" value="Kuwait"><%=__('kuwait')%></div>
  <div class="option" value="Kyrgyzstan"><%=__('kyrgyzstan')%></div>
  <div class="option" value="Laos"><%=__('laos')%></div>
  <div class="option" value="Latvia"><%=__('latvia')%></div>
  <div class="option" value="Lebanon"><%=__('lebanon')%></div>
  <div class="option" value="Lesotho"><%=__('lesotho')%></div>
  <div class="option" value="Liberia"><%=__('liberia')%></div>
  <div class="option" value="Libya"><%=__('libya')%></div>
  <div class="option" value="Liechtenstein"><%=__('liechtenstein')%></div>
  <div class="option" value="Lithuania"><%=__('lithuania')%></div>
  <div class="option" value="Luxembourg"><%=__('luxembourg')%></div>
  <div class="option" value="Madagascar"><%=__('madagascar')%></div>
  <div class="option" value="Malawi"><%=__('malawi')%></div>
  <div class="option" value="Malaysia"><%=__('malaysia')%></div>
  <div class="option" value="Maldives"><%=__('maldives')%></div>
  <div class="option" value="Mali"><%=__('mali')%></div>
  <div class="option" value="Malta"><%=__('malta')%></div>
  <div class="option" value="Marshall Islands"><%=__('marshall_islands')%></div>
  <div class="option" value="Mauritania"><%=__('mauritania')%></div>
  <div class="option" value="Mauritius"><%=__('mauritius')%></div>
  <div class="option" value="Mexico"><%=__('mexico')%></div>
  <div class="option" value="Micronesia"><%=__('micronesia')%></div>
  <div class="option" value="Moldova"><%=__('moldova')%></div>
  <div class="option" value="Monaco"><%=__('monaco')%></div>
  <div class="option" value="Mongolia"><%=__('mongolia')%></div>
  <div class="option" value="Montenegro"><%=__('montenegro')%></div>
  <div class="option" value="Morocco"><%=__('morocco')%></div>
  <div class="option" value="Mozambique"><%=__('mozambique')%></div>
  <div class="option" value="Myanmar"><%=__('myanmar')%></div>
  <div class="option" value="Namibia"><%=__('namibia')%></div>
  <div class="option" value="Nauru"><%=__('nauru')%></div>
  <div class="option" value="Nepal"><%=__('nepal')%></div>
  <div class="option" value="Netherlands"><%=__('netherlands')%></div>
  <div class="option" value="New Zealand"><%=__('new_zealand')%></div>
  <div class="option" value="Nicaragua"><%=__('nicaragua')%></div>
  <div class="option" value="Niger"><%=__('niger')%></div>
  <div class="option" value="Nigeria"><%=__('nigeria')%></div>
  <div class="option" value="North Korea"><%=__('north_korea')%></div>
  <div class="option" value="North Macedonia"><%=__('north_macedonia')%></div>
  <div class="option" value="Norway"><%=__('norway')%></div>
  <div class="option" value="Oman"><%=__('oman')%></div>
  <div class="option" value="Pakistan"><%=__('pakistan')%></div>
  <div class="option" value="Palau"><%=__('palau')%></div>
  <div class="option" value="Palestine"><%=__('palestine')%></div>
  <div class="option" value="Panama"><%=__('panama')%></div>
  <div class="option" value="Papua New Guinea"><%=__('papua_new_guinea')%></div>
  <div class="option" value="Paraguay"><%=__('paraguay')%></div>
  <div class="option" value="Peru"><%=__('peru')%></div>
  <div class="option" value="Philippines"><%=__('philippines')%></div>
  <div class="option" value="Poland"><%=__('poland')%></div>
  <div class="option" value="Portugal"><%=__('portugal')%></div>
  <div class="option" value="Qatar"><%=__('qatar')%></div>
  <div class="option" value="Romania"><%=__('romania')%></div>
  <div class="option" value="Russia"><%=__('russia')%></div>
  <div class="option" value="Rwanda"><%=__('rwanda')%></div>
  <div class="option" value="Saint Kitts and Nevis">
    <%=__('saint_kitts_and_nevis')%>
  </div>
  <div class="option" value="Saint Lucia"><%=__('saint_lucia')%></div>
  <div class="option" value="Saint Vincent and the Grenadines">
    <%=__('saint_vincent_and_the_grenadines')%>
  </div>
  <div class="option" value="Samoa"><%=__('samoa')%></div>
  <div class="option" value="San Marino"><%=__('san_marino')%></div>
  <div class="option" value="Sao Tome and Principe">
    <%=__('sao_tome_and_principe')%>
  </div>
  <div class="option" value="Saudi Arabia"><%=__('saudi_arabia')%></div>
  <div class="option" value="Senegal"><%=__('senegal')%></div>
  <div class="option" value="Serbia"><%=__('serbia')%></div>
  <div class="option" value="Seychelles"><%=__('seychelles')%></div>
  <div class="option" value="Sierra Leone"><%=__('sierra_leone')%></div>
  <div class="option" value="Singapore"><%=__('singapore')%></div>
  <div class="option" value="Slovakia"><%=__('slovakia')%></div>
  <div class="option" value="Slovenia"><%=__('slovenia')%></div>
  <div class="option" value="Solomon Islands"><%=__('solomon_islands')%></div>
  <div class="option" value="Somalia"><%=__('somalia')%></div>
  <div class="option" value="South Africa"><%=__('south_africa')%></div>
  <div class="option" value="South Korea"><%=__('south_korea')%></div>
  <div class="option" value="South Sudan"><%=__('south_sudan')%></div>
  <div class="option" value="Spain"><%=__('spain')%></div>
  <div class="option" value="Sri Lanka"><%=__('sri_lanka')%></div>
  <div class="option" value="Sudan"><%=__('sudan')%></div>
  <div class="option" value="Suriname"><%=__('suriname')%></div>
  <div class="option" value="Sweden"><%=__('sweden')%></div>
  <div class="option" value="Switzerland"><%=__('switzerland')%></div>
  <div class="option" value="Syria"><%=__('syria')%></div>
  <div class="option" value="Taiwan"><%=__('taiwan')%></div>
  <div class="option" value="Tajikistan"><%=__('tajikistan')%></div>
  <div class="option" value="Tanzania"><%=__('tanzania')%></div>
  <div class="option" value="Thailand"><%=__('thailand')%></div>
  <div class="option" value="Timor-Leste"><%=__('timor_leste')%></div>
  <div class="option" value="Togo"><%=__('togo')%></div>
  <div class="option" value="Tonga"><%=__('tonga')%></div>
  <div class="option" value="Trinidad and Tobago">
    <%=__('trinidad_and_tobago')%>
  </div>
  <div class="option" value="Tunisia"><%=__('tunisia')%></div>
  <div class="option" value="Turkey"><%=__('turkey')%></div>
  <div class="option" value="Turkmenistan"><%=__('turkmenistan')%></div>
  <div class="option" value="Tuvalu"><%=__('tuvalu')%></div>
  <div class="option" value="Uganda"><%=__('uganda')%></div>
  <div class="option" value="Ukraine"><%=__('ukraine')%></div>
  <div class="option" value="United Arab Emirates">
    <%=__('united_arab_emirates')%>
  </div>
  <div class="option" value="United Kingdom"><%=__('united_kingdom')%></div>
  <div class="option" value="United States"><%=__('united_states')%></div>
  <div class="option" value="Uruguay"><%=__('uruguay')%></div>
  <div class="option" value="Uzbekistan"><%=__('uzbekistan')%></div>
  <div class="option" value="Vanuatu"><%=__('vanuatu')%></div>
  <div class="option" value="Vatican City"><%=__('vatican_city')%></div>
  <div class="option" value="Venezuela"><%=__('venezuela')%></div>
  <div class="option" value="Vietnam"><%=__('vietnam')%></div>
  <div class="option" value="Yemen"><%=__('yemen')%></div>
  <div class="option" value="Zambia"><%=__('zambia')%></div>
  <div class="option" value="Zimbabwe"><%=__('zimbabwe')%></div>
</div>
