<header class="app_header">
  <nav class="app_layout">
    <div class="app_start_menu">
      <!-- Logo -->
      <% if (path !== '/home') { %>
      <div class="logo" onclick="toPreHome('<%= path %>')">
        <img src="/public/images/vibrer_icon.svg" alt="Logo" />
      </div>
      <% } else { %>
      <div class="logo">
        <img src="/public/images/vibrer_icon.svg" alt="Logo" />
      </div>
      <% } %>
    </div>

    <div class="app_middle_bar force_mobile">
      <ul>
        <li
          class="<%= (path == '/home') ? 'active mdb_item' : 'mdb_item' %>"
          onclick="toPreHome('<%= path %>')"
        >
          <img src="/public/images/icons/home-icon.svg" alt="Icon" />
        </li>

        <li
          class="<%= (path == '/contest') ? 'active' : '' %>"
          onclick="toTheContest('<%- path %>')"
        >
          <img src="/public/images/icons/contest-icon.svg" alt="Icon" />
        </li>
      </ul>
    </div>

    <div class="app_right_menu">
      <div class="profile">
        <div class="head hphead">
          <!-- <img
                class="icon"
                src="/public/images/icons/user-icon-light.svg"
                alt="Icon"
              /> -->
          <% if (!profileData.profile_img || profileData.profile_img === '') {
          %>
          <img
            src="/public/images/default-avatar.png"
            alt="Default Avatar"
            class="avatar"
          />
          <% } else { %>
          <img
            src="<%- profileData.profile_img %>"
            alt="User Profile Image"
            class="avatar"
          />
          <% } %>
        </div>
        <div class="drop_down hpdd">
          <div class="_profile">
            <% if (!profileData.profile_img || profileData.profile_img === '') {
            %>
            <img src="/public/images/default-avatar.png" alt="Default Avatar" />
            <% } else { %>
            <img
              src="<%- profileData.profile_img %>"
              alt="User Profile Image"
            />
            <% } %>
            <div class="name">
              <span><%- profileData.full_name %></span>
              <% if(profileData.verified === true){ %>
              <img
                class="app_v_badge"
                src="/public/images/icons/verified-badge.svg"
                alt="Verified"
              />
              <% } %>
            </div>
            <div class="uname" id="username">@<%- profileData.username %></div>
          </div>

          <div class="_menu">
            <ul>
              <li>
                <a href="/app/pre-my-profile">
                  <img src="/public/images/icons/user_icon.svg" alt="Icon" />
                  <span><%- __("my_profile")%></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" onclick="logoutAppUser();">
                  <img src="/public/images/icons/log-off.svg" alt="Icon" />
                  <span><%- __("logout")%></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
